<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        AskTravel
      </h1>
      <h2>Find any stuffs. Worldwide.</h2>
      <div class="ui horizontal divider"></div>
      <div class="ui huge primary button">How It Works<i class="right chevron icon"></i></div>
    </div>

  </div>


  <div class="ui vertical stripe segment">
    <div class="ui text container">
        <div class="ui equal width grid">
          <div class="center aligned stackable row">
            <div class="column">
              <h3 class="ui header"><i class="shop icon"></i>CONSUMER</h3>
              <p><em>"We need ..."</em></p>
            </div>
              <div class="ui vertical divider">
                OR
              </div>
            <div class="column">
              <h3 class="ui header"><i class="travel icon"></i>TRAVELER</h3>
              <p><em>"We have ..."</em></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  
  <div class="ui vertical stripe segment">
    <div class="ui text container">
        <div class="ui equal width grid">
          <div class="center aligned row">
            <div class="column">
              <h3 class="ui header"><i class="star icon"></i>FAVORITES</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
